<?xml version="1.0"?>
<launch>
    <!--    Args with no default attribute are not optional    -->
    <arg name="input" default=":default"/>
    <arg name="hmm" value="$(find pocketsphinx)/info/hub4wsj_sc_8k"/>
    <arg name="dict" value="$(find pocketsphinx)/info/robocup.dic"/>
    <arg name="lm" value="$(find pocketsphinx)/info/robocup.lm"/>
    <arg name="gram" default="$(find pocketsphinx)/info/walker.gram"/>
    <arg name="grammar" value="my_grammar"/>
    <arg name="rule" default="move2"/>
    
    <!--    Node for handling jsgf grammar mode    -->
	<node name="asr_control" pkg="pocketsphinx" type="asr_test.py" output="screen">
        <remap from="jsgf_audio" to="sphinx_audio" />
        <param name="lm" value="$(arg lm)"/>
        <param name="dict" value="$(arg dict)"/>
        <param name="hmm" value="$(arg hmm)"/>
        <param name="gram" value="$(arg gram)"/>
        <param name="grammar" value="$(arg grammar)"/>
        <param name="rule" value="$(arg rule)"/>
	</node>

    <!--    Node for publishing audio inputs    -->
    <node name="audio_control" pkg="pocketsphinx" type="send_audio.py" output="screen" >
        <param name="input" value="$(arg input)"/>
    </node>

    <node name="walker_controller" pkg="pocketsphinx" type="voice.py" output="screen" >
    </node>
</launch>
