<?xml version="1.0"?>
<launch>
  <node pkg="urg_node" type="urg_node" name="laser_scan">
	<param name="calibrate_time" type="bool" value="false"/> 
    <param name="port" value="/dev/ttyACM0"/>
    <param name="frame_id" value="map"/>
    <param name="min_ang" value="-2.356194437"/>
    <param name="max_ang" value="2.35619443" />
    <param name="cluster" value="1" />
    <remap from="scan" to="base_scan"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_base_laser_link" args="0.058 0 0.125 0.0 0.0 3.1416 /base_link /base_scan 100"/>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
  	<param name="odom_frame" value="odom" />
  	<param name="base_frame" value="base_link" />
  	<param name="maxUrange" value="5.4" />
  	<param name="maxRange" value="5.4" />
  </node>

  <include file="$(find turtlebot_navigation/launch/includes/gmapping/gmapping.launch.xml">
  	<arg name="scan_topic" value = "base_scan" />
  </include>

</launch>
