<?xml version="1.0"?>
<launch>
  <!-- Map server -->
  <arg name="map_file" default="$(find ros_arduino_python)/maps/903b_v2.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Launch urg node for laser -->
  <node pkg="urg_node" type="urg_node" name="laser_scan">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="frame_id" value="laser_scan"/>
    <param name="calibrate_time" type="bool" value="true"/>
    <param name="intensity" type="bool" value="false"/>
    <param name="min_ang" value="-2.356194437"/> 
    <param name="max_ang" value="2.356194437"/>
    <param name="cluster" value="1"/>
    <remap from="scan" to="base_scan"/>
  </node> 
  
  <!-- Transform for laser offset -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_base_laser_link" args="0.58 0 0.14 0.0 0.0 0 /base_link /laser_scan 100"/>
  <!-- Place map frame at odometry frame -->
<!--   <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100"/>
 -->
  <!-- Localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="base_scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="laser_max_range" value="5.0"/>
    <param name="laser_min_range" value="0.3"/>
    <remap from="scan" to="base_scan"/>
  </node>
  <!--include file="$(find amcl)/examples/amcl_omni.launch"/-->

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ros_arduino_python)/info/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ros_arduino_python)/info/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ros_arduino_python)/info/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ros_arduino_python)/info/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ros_arduino_python)/info/base_local_planner_params.yaml" command="load" />
    <param name="controller_frequency" value="10.0" />
  </node>
</launch>